body{
    margin: 5px ;
    background-color: rgb(239, 241, 206);
}
#titulo{
    color: rgb(78, 5, 78);
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    border-width: 10px;
    font-size:100px
}.box {
    display: flex;
    flex-direction: row-reverse;
  }


.texto{
    color: rgb(226, 75, 15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 30px 10px 10px rgb(26, 45, 139) ;
    text-decoration-line: underline;
    font-size:xx-large;
    
}
.Email{
    color: blueviolet;
    font-size:20px
}

#fondo{
    height: 200px;
    background-color: blue;
    background-image:url('imagen2.png');
    background-size: contain;
    background-repeat: round;
}
.otracosa{
    color: rgb(187, 56, 24);
    cc
}
.margen{
    background-color: blue;
    margin: 15px ;
    padding: 15px 20px 25px ;
    border: solid 1px black;    
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}
.text{
    color: rgb(0, 6, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    text-shadow: 4px 5px 10px rgb(177, 27, 27);
    font-size:20px;
}
    

nav:link{
    color: blue;
    
}nav:visited{
    color: yellow;
}nav:hover{
    color: brown;
}nav:active{
    content: red;
}
nav{
    font-size:20px;
}

table{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
} 
th,tr{
    border: solid 1px blue;
    padding: auto;
}
th{
    background-color: rgb(217, 235, 57);
    color: rgb(58, 60, 151);

}
th:hover{
    background-color: rgb(37, 219, 119);
    cursor: pointer;

}
tr:nth-child(even){
    background-color: rgb(81, 81, 131);


  }
  #Entretenimiento{
    color: black;  
    height: 200px;
    background-color: blue;
    background-image:url('imagen.png.webp');
    background-size: contain;
    background-repeat: round;
  }
  #Escolar{
    color: black;  
    height: 200px;
    background-color: rgb(47, 175, 35);
    background-image:url('Escolar.png.png');
    background-size: contain;
    background-repeat: round;
}
#Indumentaria{
    color: black;  
    height: 200px;
    background-color: rgb(47, 175, 35);
    background-image:url('Indumentaria.png');
    background-size: contain;
    background-repeat: round;
}
#Supermercado{
    color: black;  
    height: 200px;
    background-color: rgb(47, 175, 35);
    background-image:url('supermercado.png');
    background-size: contain;
    background-repeat: round;
}
#animated {
    animation: 5s linear 0,
    lookUp 2.5s linear 5s,
    moveLeft 2s linear 7.5s,
    dissapear 2s linear 9.5,    
}
main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }